@import url('https://fonts.googleapis.com/css?family=Bad+Script');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
h1{
    color: #111;
    font-size: 70px;
}
h1 span{
    display: table-cell;
    color: #00b3ff;
    filter: blur(2px);
    animation: animate 1s linear infinite;
}
.animate{
    color: #00b3ff;
    position: absolute;
    transform: scale(0);
    filter: blur(2px);
    color: #00b3ff;
    opacity: 1;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    to{
        color: #00b3ff;
        filter: blur(3px);
        text-shadow: 0 0 10px #00b3ff;
       transform: scale(1);
       opacity: 0;

    }

}

h1 span:nth-child(1){
    animation-delay: .05s;
}
h1 span:nth-child(2){
    animation-delay: .10s;
}
h1 span:nth-child(3){
    animation-delay: .15s;
}
h1 span:nth-child(4){
    animation-delay: .20s;
}
h1 span:nth-child(5){
    animation-delay: .25s;
}
h1 span:nth-child(6){
    animation-delay: .30s;
}
h1 span:nth-child(7){
    animation-delay: .35s;
}
h1 span:nth-child(8){
    animation-delay: .40s;
}
h1 span:nth-child(9){
    animation-delay: .45s;
}
h1 span:nth-child(10){
    animation-delay: .50s;
}
h1 span:nth-child(11){
    animation-delay: .55s;
}
h1 span:nth-child(12){
    animation-delay: .60s;
}
h1 span:nth-child(13){
    animation-delay: .65s;
}
h1 span:nth-child(14){
    animation-delay: .70s;
}
h1 span:nth-child(15){
    animation-delay: .75s;
}
